[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytest = "*"
numpy = "*"
mpi4py = "~=3.0"
jax = "*"
jaxlib = {file = "https://storage.googleapis.com/jax-releases/cuda112/jaxlib-0.1.63+cuda112-cp39-none-manylinux2010_x86_64.whl"}

[requires]
python_version = "3.9"
